.Apostolado {
  display: flex;
  width: 600px; 
  height: 250px;
  border: 1px solid rgb(255, 213, 128);
  background-color: #FFC760;
  border-radius: 15px;
  justify-content: space-between;
  transition: transform 0.3s ease;
  margin: 15px;
}

.Apostolado:hover {
  transform: scale(1.05); 
}


.name-apostolado {
  text-align: center;
  color: #000;
  font-size: 22px;
}

.apostolado-image{
  text-align: start;
  background-color: #FFC760;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.apostolado-image img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 5%;
  margin-top: 10px;
  margin-left: 5px; 
  margin-right: 50px;
  padding: 20px;
}

.apostolado-texto{
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: aliceblue;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.apostolado-texto .icon-instagram{
  text-align: end;

}

.icon-instagram a{
  height: 300px;
  margin-right: 25px;
  color: #000;
}

.apostolados-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1300px) {

  .apostolados-cont{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    align-items: center;
  }

  .Apostolado {
    display: flex;
    width: 450px; 
    height: 210px;
    border: 1px solid rgb(255, 213, 128);
    background-color: #FFC760;
    border-radius: 15px;
    justify-content: space-between;
    transition: transform 0.3s ease;
      margin: 10px;
  }
  .name-apostolado {
    text-align: center;
    color: #000;
    font-size: 16px;
}

}


@media screen and (max-width: 600px) {

  .apostolados-cont{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    align-items: center;
  }

  .Apostolado {
    display: flex;
    width: 350px; 
    height: 200px;
    border: 1px solid rgb(255, 213, 128);
    background-color: #FFC760;
    border-radius: 15px;
    justify-content: space-between;
    transition: transform 0.3s ease;
      margin: 10px;
  }
  .name-apostolado {
    text-align: center;
    color: #000;
    font-size: 18px;
  }

  .description-apostolado{
    font-size: 12px;
  }

}
