.footer-laCate{
  height: 250px;
  width: 100%;
  background-color: rgb(65, 65, 65);
  display: flex;
  margin-top: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.footer-title{
  font-size: 30px;
  text-align: start;
  justify-content: center;
  padding-top: 20px;
  padding-left: 25px;
  color: rgb(255, 191, 71);
}

.footer-link-contenedor{
  text-align: start;
  color: rgb(255, 191, 71);
  font-size: 15px;
  padding-left: 15px;
  border-left: 2px solid rgb(255, 191, 71);
}

.footer-link-contenedor a{
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  color: rgb(255, 191, 71);
  margin-top: 0px;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-tiktok {
  fill: rgb(255, 191, 71);
  height: 25px;
}
